

@mixin mq($width) {

    @media screen and (max-width:$width){
        @content;
        
    }
    
}

@mixin meq($width) {

    @media screen and (min-width:$width){
        @content;
        
    }
    
}


*{

    margin:0px;
    padding: 0px;
}


 html{
    overflow-x: hidden;
}


body{
    overflow: hidden;

    font-family: 'Barlow Condensed', ;
  
   


 }


 .bg {

    width: 50%;
    height: 400px;
    background-color: hsl(207, 33%, 95%);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -10;
    border-bottom-left-radius:100px ;

 }
 .menu{
     position: relative;
     width: 80%;
     margin: 0 auto;
     margin-top: 5%;

     
 }


 .desktop{
     display: none;

     
     @include meq(900px){
         display: block;
         float:right;
         margin-top: -10px;
         margin-bottom:70px;


      il {

        margin: 0 10px  ;
        font-size: 20px;
        font-weight: 900;


       
        

        a {
            text-decoration: none;
            color: black;
        
        }
      }

         
       

     }

   
 }


 
 
 .mobile{
   
     z-index: 1111;
     display: none;
    position: absolute;
    border-radius: 10%;
    font-size: 30px;
    font-weight:initial;
    top:80px;
    left: 10%;
     width: 80%;
     
     height: 30vh;
     box-shadow: -2px 1px 12px -2px rgba(0,0,0,0.75);
     padding-top: 10%;
     background-color: white;
     & li{
         text-align: center;
         list-style: none;
         line-height: 30px;
         padding: 6px 0;
         
     }
     & li a{
        text-decoration: none;
        color: black;
        
        
         &:hover{
             
             color:hsl(207, 33%, 95%); ;
             text-decoration: none;
         }


     }

     & hr {


        width: 80%;
        margin-left:10% ;
     }
    

 }

.btn{
    position: relative;
    float: right;
  
}  
.burger{
    position: absolute;
    right: 0;
    @include meq(900px){
        display: none;
    }
}
.close{
    position: absolute;
    right: 0;
    visibility: hidden;

}
input[type=checkbox]{
    display: none;
}
input[type=checkbox]:checked~ .btn .close {
    visibility: visible;
}
input[type=checkbox]:checked~ .btn .burger {
    visibility: hidden;
}
input[type=checkbox]:checked~ .mobile {
    display: block;
}





    









  



.content{
   
    display: flex;
    flex-direction: row;
    
   
    margin-left: 10%;

    width: 80%;

    @include mq(1040px){
        flex-direction: column-reverse;
    }

    @include mq(780px){
        margin-top: 0;
    }
 
       & img {
        width: 120%;
        margin-left: 30%;


         @include mq(780px){

            margin: 70px 40px 0 0;

            width: 150%;

         }

         
         
       }

       

       &__organisation {

        margin-top: 5%;
        line-height: 400%;
        width:60%;
        @include mq(1040px){
         width: 100%;}
       @include mq(455px){

        margin-top: 40%;
        font-size: 10px;
       }


        }
       &__back {
        background-color: hsl(230, 29%, 20%);
        color: white;
        border-radius: 20px;
        padding: 2px;
        font-weight: bold;
        padding: 4px 8px 6px 8px;



      }

      &__space {
        font-size: 20px;
        word-spacing: 12px;
        color:  hsl(231, 7%, 65%);
      }

      &__text {
      font-size: 450%;
   

      }

      &__text2 {

       width: 60%;
       color: hsl(231, 7%, 65%) ; 
       font-size: 22px;
       line-height: 30px;
       margin-top: 20px;

       

      }

}

.flex {
    
     display: flex;
     color: hsl(231, 7%, 65%);

     &__button{
         
        background: hsl(0, 100%, 68%);
        color: white;
        border-radius: 5px;
        font-weight: bolder; 
      

        margin: 40px 20px 0px  0PX ;
        padding: 0% 5%;
        height: 40px;
        width:40%;
        border: none;
        outline: none;
        @include mq(600px){

            margin-top: 10%;
        }
      
    }

    &__text {
        
        margin: 28px 0px 0px 0px;
        word-spacing: 6px;
       

        
    }

}




