*{

    margin:0px;
    padding: 0px;
}





body{

    font-family: 'Barlow Condensed', ;
    overflow: hidden;

   
    

}





.menu {
    
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    &__logo {

        height: 20%;
        margin-left: 10%;
        padding-top:2% ;
    }

    &__gray {
           
       color: hsl(231, 7%, 65%);    
    }
   

   
    
}


.menu ul {
    list-style: none;
    background-color:hsl(207, 33%, 95%);
    padding: 3% 0% 20% 0%;
    width: 50%;
    text-align: center;
    border-radius:0% 0% 0% 60px;
    z-index: 2;
    
   
    
}



.menu ul il {
   

    padding: 0px 18px;
    font-weight:bold;
    
}

.menu ul il a {

    text-decoration:none;
    color: black;

  
}

  



.content{

    display: flex;
    position:absolute ;
    z-index: 3;
    margin-top: -15%;
    margin-left: 10%;

    width: 80%;
       &__img {
        justify-content: space-between;
        margin-left: 20%;
         width: 130%;
       }

       &__organisation {

        margin-top: 5%;
        line-height: 400%;
        
       }
       &__back {
        background-color: hsl(230, 29%, 20%);
        color: white;
        border-radius: 20px;
        padding: 2px;
        font-weight: bold;
        padding: 4px 8px 6px 8px;



      }

      &__space {
        font-size: 20px;
        word-spacing: 12px;
        color:  hsl(231, 7%, 65%);
      }

      &__text {
       font-size: 60px;
       width: 500px;

      }

      &__text2 {

       color: hsl(231, 7%, 65%) ; 
       font-size: 22px;
       line-height: 30px;
       margin-top: 20px;

      }

}

.flex {

     display: flex;
     color: hsl(231, 7%, 65%);
     &__button{
         
        background: hsl(0, 100%, 68%);
        color: white;
        border-radius: 10px;
        font-weight: bolder; 

        margin: 40px 20px 0px  0PX ;
        height: 42px;
        width:30%;
        border: none;
        outline: none;
    }

    &__text {

        margin: 28px 0px 0px 0px;
    }






}













